body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'raleway', 'sans-serif';
    color: #3F3E3D;
}

#showcase{
    background: url('showcase.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    background-position: center;
    text-align: center;
    color: #3F3E3D;
}

/* navigation goes here */

.navbar{
    background:rgba(255,255,255, 0.7);
    font-size: 17px;
    width: 100%;
    padding: 0 5%;
    position: fixed;
    z-index: 99;
    box-shadow:0 -2px 5px rgba(0,0,0,0.25),0 2px 5px rgba(0,0,0,0.22);
}

#showcase nav ul{
    list-style-type: none;
    text-align: right;
    padding: 10px 0;
}

nav ul li{
    display: inline;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #2d2d2d	;
    /* color:     #FEFAF5 */
;
    font-weight: 500;
}

.logo{
    float: left;
    padding:10px 10px;
    font-weight: 700;

}

/* mobile navigation  */
@media only screen and (max-width: 650px) {
/* hamburger-style */
.hamburger{
    margin-right: 10px;
    float: right;
}
.hamburger .line{
    width: 30px;
    height: 4px;
    background-color: black;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
.hamburger:hover{
    cursor: pointer;
  }
  
#hamburger.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#hamburger.is-active .line:nth-child(2){
    width: 0px;
}
  
#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
  
#hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    transform: translateY(13px);
}
  
#hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
}
  
/* end of icon design */


nav{
    padding: 0 !important;
}

ul{
    display: none;
}

.addNav{
    display: block;
    position: absolute;
    margin-top: 44px;
    background:rgba(255,255,255, 0.9);
    width: 100%;
}

ul li a{ 
    display: block;
    text-align: center;
}

ul li{
    display: block;
}

}
/* main content  */
.content-container{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: auto;
}

.showcase-h1{
    font-size: 1.5em;
    text-transform: uppercase;
    /* margin-top: -50px; */
    font-weight: 800;
    margin-top: 20px;
    line-height: 28px;
    letter-spacing: 2px;
}

.showcase-h1::before{
    content: open-quote;
    display: inline;
    margin-right: 2px;
    font-size: 40px;
    color: lightslategray;
}
.showcase-h1::after{
    content: close-quote;
    display: inline;
    margin-left: 2px;
    font-size: 40px;
    color: lightslategray;
}

.showcase-h3{
    font-weight: lighter;
    padding-top:10px;
    text-transform: capitalize;
}
 
 .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.button{
    height: 35px;
    width: 100px;
    margin: 8px;
    padding-top: 5px;
    background: transparent;
    font-size: 1em;
    border: 2px solid darkslategray;
    border-radius: 3px;
    transition: ease-in-out 0.5s;
    text-decoration: none;
    color: #3F3E3D;
} 

button:focus{
    outline: none;
}

/* hover effect  for showcase buttons*/
.hvr-bounce-to-right{display:inline-block;
    vertical-align:middle;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
    position:relative;
    -webkit-transition-property:color;
    transition-property:color;
    -webkit-transition-duration:.5s;transition-duration:.5s
}

.hvr-bounce-to-right:before {
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#3F3E3D;
    -webkit-transform:scaleX(0);
    transform:scaleX(0);
    -webkit-transform-origin:0 50%;
    transform-origin:0 50%;
    -webkit-transition-property:transform;
    transition-property:transform;
    -webkit-transition-duration:.5s;
    transition-duration:.5s;
    -webkit-transition-timing-function:ease-out;transition-timing-function:ease-out
}
    .hvr-bounce-to-right:active,.hvr-bounce-to-right:focus,.hvr-bounce-to-right:hover{
        color:#fff
    }

    .hvr-bounce-to-right:active:before,.hvr-bounce-to-right:focus:before,.hvr-bounce-to-right:hover:before{
        -webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transition-timing-function:cubic-bezier(0.52,1.64,.37,.66);transition-timing-function:cubic-bezier(0.52,1.64,.37,.66)
    }

    .hvr-bounce-to-left{
        display:inline-block;
        vertical-align:middle;
        -webkit-transform:perspective(1px) translateZ(0);
        transform:perspective(1px) translateZ(0);
        box-shadow:0 0 1px rgba(0,0,0,0);
        position:relative;
        -webkit-transition-property:color;transition-property:color;
        -webkit-transition-duration:.5s;
        transition-duration:.5s
    }
    .hvr-bounce-to-left:before{
        content:"";
        position:absolute;
        z-index:-1;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:#2098D1;
        -webkit-transform:scaleX(0);
        transform:scaleX(0);
        -webkit-transform-origin:100% 50%;
        transform-origin:100% 50%;
        -webkit-transition-property:transform;
        transition-property:transform;
        -webkit-transition-duration:.5s;
        transition-duration:.5s;
        -webkit-transition-timing-function:ease-out;transition-timing-function:ease-out
    }

    @media only screen and (min-width: 800px) {
        .showcase-h1{
            font-size: 3em;
            line-height: 60px;
        }
        .showcase-h3{
            margin-top:20px;
            font-size: 1.5em;
        }

        button{
            margin-top:20px;
            height: 45px;
            width: 110px;

        }
    }
/* animation delay */
    .fadeIn{
        animation-delay: 1.7s;
    }
    #duration{
        animation-duration: 1.5s;
    }    
    #duration-2{
        animation-duration: 1s;
        animation-delay: 0.6s;
    }
/* end of showcase */


/* about section */

#about{
    height: auto;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 80px;
}

#about h3{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;

}
#about h6{
    font-size: 18px;
    margin: 25px 0;
    font-weight: bold;
}
#about p{
    text-align: justify;
}

#about .container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5%;
}

.underline{
    margin: 6px 0 0 0;
    width: 60px;
    background: gray;
    height: 3px;
}

.container img{
    max-width: 100%;
    min-height: 350px;  
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.about-content{
    max-width: 700px;
}

.icons{
    display: flex ;
}

.icons i{
    margin: 30px 25px 0 0;
    transition: 0.3s;
}

.icons a i:hover{
    color: gray;
    
}

/* repsonsive media queries */
@media only screen and (max-width: 1050px) {
    #about .container{
        display: flex;
        flex-direction: column;
    }
    #about .container img{
        max-width: auto;
        margin: 0 auto;
    }
    .about-content{
        margin-top: 40px;
    }
    .icons{
        justify-content: center;
    }
}

/* services section */

#services{
    width: 100%;
    height: auto ;
    background:#F3F3F3;

}

.service-h2{
    text-align: center;
    letter-spacing: 2px;
    padding: 50px 0;
}

.container{
    padding: 0 5%;
}


.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.cards{
    float: left;
    margin: 20px;
    height: 350px;
    width: 300px;
    transition: 0.3s ease-in;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);      }

.cards:hover{
    transform: translateY(-5px);
}

.card-container{
    padding: 10px;
    /* background: red; */
    margin-top: 20px;
}
.cards h4{
    text-align: center;
    margin: 20px;
    font-size: 20px;
    letter-spacing: 3px;
}
.cards p{
    text-align: center;
}

.icons{
    width: 100%;
    text-align: center;
}



/* Portfolio Section */
#portfolio{
        height: 100%;
        width: 100%;
        background: #fcfcfc;
        padding: 50px 0;

}

.port-h2{
        padding:20px;
        letter-spacing: 2px;
        text-align: center;
        color: #3F3E3D;
}

.block-container{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.block-container img{
    max-height: 300px;
    margin: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);      }

}
/* responsive height and bottom */
@media only screen and (max-width: 1050px) {
#portfolio{
    height: auto;
    padding-bottom: 40px;
}
}

/* freelance section */
#freelance{
    background: url(freelance.jpg);
    background-position: center;
    background-size: cover;
    height: 45vh;
    width: 100%;
    background-attachment: fixed;
}

#freelance .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#freelance *{
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
}

.btn-freelance{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    width: 100px;
    border-radius: 25px;
    margin-top: 35px;
}

.btn-freelance:hover{
    background: #fff;
    color: black !important;
}

#contact{
    height: 100vh;
    /* max-width: 95%; */
    background: #F3F3F3;
    padding-top: 50px;

}

#contact .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 5%; */

}

#contact .grid{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.child-grid{
    margin-right: 50px;
}
.child-grid i{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10%;
    margin-right: 10%;
}

form input{
    height: 40px;
    width: 400px;
    border: none;
    margin-bottom: 30px;
    text-indent: 20px;
}

.submit{
    text-indent: 0px;
}


/* responsive for mobile device */
@media only screen and (max-width: 750px) {
    #contact{
        height: auto;
    }

    #contact .grid{
        flex-direction: column;
    }


    .child-grid{
        margin-bottom: 30px;
    }

}


